body {
    font-family: 'Nunito'; font-size:14pt; color #808080;
}
#app {padding:2%}
#app .row {margin-left:0px; margin-right:0px}
#app button {width:auto}
.text-sm {font-size:14pt;}
#app .logo {height:65px}
#app nav {width:100%; border-style:solid; border-color:#296395; border-width:0px 0px 2px 0px; padding-bottom:2px}
#app nav .navbar-collapse {padding-left:0px;}
#app nav ul {padding-left:0px;}
#app .navbar-nav .nav-item a {text-decoration:none}
#app .navbar-nav .nav-item {width:auto; display:inline-block; padding:0px 5px 0px 5px}
#app .navbar-nav .nav-subitem {width:100%; display:block; padding:1px}
#app .navbar-nav .nav-item:hover {background-color:#ceefee}
#app .navbar-nav .nav-subitem:hover {background-color:#ceefee}
#app .pageBody {min-height:200px}
#app .footer {min-height:100px; margin-top:5px; 
	border-style:solid; border-width:2px 0px 0px 0px; background-color:silver}

#app .btn { border-style:solid; border-width:1px; border-color: #808080; width:auto}
#app .dropdown-menu {padding:4px 4px 4px 4px}
#app a {display:inline-block; width:auto;}
#app .fa-facebook {background-image:url('images/facebook.png'); background-size:14px; background-repeat:no-repeat;
	height:14px; width:14px; margin-right:3px;}
#app .fa-github {background-image:url('images/github.png'); background-size:22px; background-repeat:no-repeat;
	height:14px; width:18px; margin-right:3px;}
#app .fa-google {background-image:url('images/google.png'); background-size:14px; background-repeat:no-repeat;
	height:14px; width:14px; margin-right:3px;}
#app svg {height:32px;}

#app .loginForm {text-align:center}
#app .loginForm form {display:inline-block; width:400px; text-align:left}

@media (min-width: 768px) {
	#app .navbar-toggler {display:none} 
	
@media (min-height: 800px) {
	#app .pageBody {min-height: 600px}
}	
@media (min-height: 1000px) {
	#app .pageBody {min-height: 600px}
}	
@media (min-height: 1200px) {
	#app .pageBody {min-height: 800px}
}	
@media (min-height: 1400px) {
	#app .pageBody {min-height: 1000px}
}	
@media (min-height: 1600px) {
	#app .pageBody {min-height: 1200px}
}	
@media (min-height: 1800px) {
	#app .pageBody {min-height: 1400px}
}	
@media (min-height: 2000px) {
	#app .pageBody {min-height: 1600px}
}	
