body {
    font-family: 'Nunito'; font-size:14pt; color: #808080;
}
svg {height:32px;}
svg.ml-4 {height:32px;}
img.logo {height:65px}
.pageBody {min-height:200px; padding:10px;}
.row {margin-left:0px; margin-right:0px}
button {width:auto}
.btn { border-style:solid; border-width:1px; border-color: #808080; width:auto}
.text-sm {font-size:14pt;}
#app nav {width:100%; border-style:solid; border-color:#296395; border-width:0px 0px 2px 0px; padding-bottom:2px}
#app nav .navbar-collapse {padding-left:0px;}
#app nav ul {padding-left:0px;}
#app .navbar-nav .nav-item a {text-decoration:none}
#app .navbar-nav .nav-item {width:auto; display:inline-block; padding:0px 5px 0px 5px}
#app .navbar-nav .nav-subitem {width:100%; display:block; padding:1px}
#app .navbar-nav .nav-item:hover {background-color:#ceefee}
#app .navbar-nav .nav-subitem:hover {background-color:#ceefee}
#app .dropdown-menu {padding:4px 4px 4px 4px}
#userMenu {width:220px; margin-left:-50px}

#popup {display:none; position:fixed; z-index:1200; left:10%; top:10%;
	   width:auto; height:auto; padding:10px;	 
       background-color:#d0d0d0; border-style:solid; border-width:1px;}

a {display:inline-block; width:auto;}
.fa-facebook {background-image:url('images/facebook.png'); background-size:14px; background-repeat:no-repeat;
	height:14px; width:14px; margin-right:3px;}
.fa-github {background-image:url('images/github.png'); background-size:22px; background-repeat:no-repeat;
	height:14px; width:18px; margin-right:3px;}
.fa-google {background-image:url('images/google.png'); background-size:14px; background-repeat:no-repeat;
	height:14px; width:14px; margin-right:3px;}

.loginForm {text-align:center}
.loginForm form {display:inline-block; width:400px; text-align:left}

.footer {min-height:100px; margin-top:5px; padding:5px;
	border-style:solid; border-width:2px 0px 0px 0px; background-color:#e0f0e0}
.js-cookie-consent {background-color:#d0d0d0; padding:20px; 
	position:fixed; z-index:99; top:100px; left:100px; border-style:solid; border-radius:10px; 
}
#cookieDisable { text-align:right}
	
.avatar {width:30px}
.bigAvatar {width:80px}	

@media (min-width: 768px) {
	.navbar-toggler {display:none} 
	
@media (min-height: 800px) {
	.pageBody {min-height: 600px}
}	
@media (min-height: 1000px) {
	.pageBody {min-height: 600px}
}	
@media (min-height: 1200px) {
	.pageBody {min-height: 800px}
}	
@media (min-height: 1400px) {
	.pageBody {min-height: 1000px}
}	
@media (min-height: 1600px) {
	.pageBody {min-height: 1200px}
}	
@media (min-height: 1800px) {
	.pageBody {min-height: 1400px}
}	
@media (min-height: 2000px) {
	.pageBody {min-height: 1600px}
}	
